.wrapper {
  background-color: #94d5ff;
  height: 100vh;
  overflow: auto;

  .main {
    width: 100%;
    margin-top: 120px;
    display: flex;
    color: #fff;
    justify-content: space-evenly;

    .left {
      align-self: center;

      @keyframes changeColor {
        from {
          color: rgba(1, 154, 255, 1);
        }

        50% {
          color: rgba(192, 65, 218, 1);
        }

        to {
          color: rgba(1, 154, 255, 1);
        }
      }

      h2 {
        font-size: 36px;
        margin-bottom: 20px;
        text-align: center;
        animation-timing-function: linear;
        animation-duration: 5s;
        animation-name: changeColor;
        animation-iteration-count: infinite;
      }

      p {
        font-size: 24px;
        font-weight: bold;
      }

      button {
        width: 90%;
        height: 30px;
        background-color: #fff;
        margin-top: 50px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        color: #94d5ff;
        font-size: 18px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        transition: 0.3s linear;
        cursor: pointer;

        &:hover {
          border-radius: 15px;
        }
      }

      .disabledButton {
        background-color: #000;
        opacity: 0.8;
      }
    }

    .graph {
      width: 60%;
      height: 400px;
    }
  }

  .sorry {
    color: #fff;
    margin-top: 100px;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .wrapper {
    .main {
      flex-direction: column;
      margin-top: 50px;

      .graph {
        width: 90%;
        margin: 50px auto 0 auto;
      }
    }
  }
}
